.cont {
    float: left;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
#enum_cont {
    font-size: 107%;
    color: #585858;
}
.form-item, .mform .fitem {
  float: inherit;
}
.vacios {
    float: left;
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px 10px 10px 10px;
    background-color: #f89a9a;
}
.vacios b {
    color:red;       
}